body {
	background: rgb(238, 238, 238);
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	color: rgb(9, 7, 30);
	text-align: center;
}
h2 {
	background: rgb(223, 223, 223);
    color: rgb(11, 6, 32);
	text-align: left;
}
h3 {
    background-color:rgb(255, 255, 255) ;
    color: rgb(39, 33, 32);
	text-align: left;
}
p {
    color: rgb(14, 12, 12);
	text-align: left;
}
.projects {
	display: flex;
	flex-wrap: wrap;
}
.project img {
    /* adjust your image sizes as needed */
    width: 400px;
    height: 300px;
    margin: 10px auto;
    border: 2px solid rgb(28, 3, 94);
    display: block;
    /* center the images inside the blobs */
    text-align: center;
}
.project p {
    /* center the p text in the blob */
    text-align: center;
    margin: 15px;
}