body {
	background: rgb(18, 14, 29);
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	color: rgb(152, 158, 158);
	text-align: center;
}
h2 {
	background: rgb(0, 58, 97);
    color: rgb(234, 241, 241);
	text-align: left;
}
h3 {
    color: rgb(0, 0, 0);
	text-align: left;
}
p {
    color: rgb(0, 0, 0);
	text-align: left;
}
.projects {
	display: flex;
	flex-wrap: wrap;
}

/* condensed to save space */
.project {
	width: 30%;
	margin: 10px;
	padding: 20px 10px;
	background: rgb(0, 0, 0);
	/* pick a color */
	border-radius: 25%;
}