body {
	background: rgb(238, 238, 238);
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	color: rgb(9, 7, 30);
	text-align: center;
}
h2 {
	background: rgb(223, 223, 223);
    color: rgb(11, 6, 32);
	text-align: left;
}
h3 {
    color: rgb(217, 42, 33);
	text-align: left;
}
p {
    color: rgb(254, 34, 34);
	text-align: left;
}
.projects {
	display: flex;
	flex-wrap: wrap;
}
.project img {
    /* adjust your image sizes as needed */
    width: 400px;
    height: 300px;
    margin: 10px auto;
    border: 2px solid rgb(27, 18, 49);
    display: block;
    /* center the images inside the blobs */
    text-align: center;
}
.project p {
    /* center the p text in the blob */
    text-align: center;
    margin: 15px;
}